
@{
    ViewBag.Title = "CreateFuture";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Feauture Giriş</h2>

<form method="post">
    <label>Header</label>
    <input type="text" class="table table-bordered" name="Header" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" class="table table-bordered" name="NameSurname" />
    <br />
    <label>Başlık</label>
    <input type="text" class="table table-bordered" name="Title" />
    <br />
    <button class="btn btn-info">Hizmeti Kaydet</button>

</form>

