@model MeyawoPortfolio.Models.TblFuture

@{
    ViewBag.Title = "UpdateFuture";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Feauture Güncelleme</h2>

<form method="post">
    <label>Future Id</label>
    <input type="text" class="table table-bordered" value="@Model.FutureID"  name="FutureID" />
    <br />
    <label>Header</label>
    <input type="text" class="table table-bordered" value="@Model.Header"  name="Header" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" class="table table-bordered" value="@Model.NameSurname" name="NameSurname"/>
    <br />
    <label>Başlık</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title"/>
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

