@model List<MeyawoPortfolio.Models.TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Hakkımda Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ünvan</th>
        <th>Başlık</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>@item.Title</td>
            <td>@item.Header</td>
            <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/About/CreateAbout" class="btn btn-primary">Yeni Kayıt</a>

