
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Yeni Kategori Girişi</h2>

<form method="post">
    <label>Kategori Başlığı</label>
    <input type="text" class="table table-bordered" name="CategoryName" />
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

