
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Referanslar</h2>

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" class="table table-bordered" name="NameSurname" />
    <br />
    <label>Referans Görseli</label>
    <input type="text" class="table table-bordered" name="İmageUrl" />
    <br />
    <label>Açıklama</label>
    <textarea rows="4" class="table table-bordered" name="Description"></textarea>
    <br />
    <label>Status</label>
    <input type="text" class="table table-bordered" name="Status" />
    <button class="btn btn-info">Referans Kaydet</button>

</form>

